:root{
    --progressFilled: #3498db;
    --progressNotFilled: #e0e0e0;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f6f7fb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}


.progressContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progressContainer::before{
    content: '';
    background-color: var(--progressNotFilled);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1; 
}

.progress{
    background-color: var(--progressFilled);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    transform: translateY(-50%);
    width: 0%;
    z-index: -1;
    transition: 0.4 ease;
}

.circle{
    background-color: #fff;
    color: #999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--progressNotFilled);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4 ease;
}

.circle.active{
    border-color: var(--progressFilled);
}

.btn{
    background-color: var(--progressFilled);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--progressNotFilled);
    cursor: not-allowed;
}

